*
{
    font-size: 16px;
    font-family: 'Lato', sans-serif;
}

header
{
    background-color: #083D77;
    display: flex;
    justify-content: space-between;
}

.flexbox-container
{
    margin: 0px auto;
    width: 80%;
    max-width: 1100px;
    display: inline-flex;
    justify-content: space-evenly;
}

body
{
    margin: 0px;
    background-image: url("../img/bg.jpg");
}

.row
{
    display: flex;
    justify-content: space-between;
}

.nav-item
{
    display: inline-flex;
}

.nav-item a
{
    text-decoration-line: none; 
    font-size: 18px;
    color:  #FEFCFB;
    align-self: center;
    margin: 5px 5px 5px 5px;
    padding-left: 10px;
    padding-right: 10px;
}

nav
{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

#logo
{
    align-self: center;
    width: 90px;
    height: inherit;
}

#footcontainer
{
    align-self: center;
    background-color:#C1B2AB ;
    width: 80%;
    max-width: 1100px;
    margin: 0 auto;
    justify-content:center;
    display:flex;
}

#footcontainer p
{
    margin: 0 auto;
    color:  #FEFCFB;
    align-self: center;
    padding: 50px ;
}

h1
{
color: #083D77;
font-size: 40px;
}

#Ovele1
{
    background-color: #FEFCFB;
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    justify-content:center;
}

#Ovele2
{
    padding: 15px;
}

.ker
{
    margin: 10px;
    font-weight: 600;
}

table
{
    margin: 0 auto;
    width: max-content;
    height: max-content;
    border: 1px black solid;
}

th
{
    border: 1px #083D77 solid;
    background-color: #083D77;
    color: #FEFCFB;
}

td
{
    border: 1px black solid;
    padding: 15px;
}

h2
{
    margin: 10px;
}

input
{
    display: flex;
    max-width: 1100px;
    width: 100%;
}

#veliki
{
    word-break: break-word;
    padding-bottom: 200px;
}

#Gumb
{
    background-color: #083D77;
	color: white;
    max-width: 1100px;
    width: 100%;
    padding: 10px;
    margin: 10px auto;
    display: block;
}

#naslovna
{
    width: 100%;
}

section
{
    background-color: #083D77;
    width: 80%;
    max-width: 300px;
    padding: 15px 0px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
    height: fit-content;
}

section ul li a
{
    text-decoration-line: none; 
    font-size: 16px;
    color:  #FEFCFB;
    margin-right: 15%;
}

section ul li 
{
    margin: 5px;
}

#naslovnica-container
{
    display: inline-flex;
    width: 100%;
    max-width: 1100px;
    justify-content: space-between;
}

time
{
    background-color: #083D77;
    color:#FEFCFB;
    padding: 5px;
}

.obavijest
{
    margin: 30px;
    display: list-item;
    list-style-type: none;
    justify-content: space-between;
    width: max-content;
}
